body, html {
    height: 100%;
  }

.header {
    text-align: center;
    background-color: #353942;
    color: #DDE1E4;
}

.weather {
    margin-bottom: 15px;
}

.weathercard {
    width: 100%;
}

#searchForm {
    margin-bottom: 15px;
}

.sidebar {
    height: 100%;
}

#geolocate {
    padding-bottom: 15px;
}